<html>
    <head>
        <title>Primera página web</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Página web de Edwin</a></h1>
        </div>

        <div>
            <p>published: 17/07/2019, 1:40</p>
            <h2><a href="">My first post</a></h2>
            <p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.</p>
            <p>Donec id elit non mi porta gravida at eget metus.</p>
            <p>Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">My second post</a></h2>
            <p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.</p>
            <p>Donec id elit non mi porta gravida at eget metus.</p>
        </div>
        <div>
            <h2><a href="">Te Amo pinche Dino</a></h2>
        </div>
    </body>
</html>