<html>
    <head>
        <title>Primera página web</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Página web de Edwin</a></h1>
        </div>
        {% for post in posts %}
        <div>
        <p> publicado: {{ post.created_at }}</p>
        <h1><a href = "/">{{ post.name }}</a></h1>
        <p ><img src="{{post.url|linebreaksbr }}" height="500" width="500" ></p>
        </div>
        {% endfor %}

        <div>
            <h2><a href="">Te Amo pinche Dino</a></h2>
        </div>
    </body>
</html>